{% extends "base.html" %}

{% block content %}
<div id="content-main">
	<h4>Olá! Hello!</h4> 
	<br> 
	<h4>I am Vasco de Gapi. I am an explorer.</h4> 
	<br>
	
	<br>
	<h6>My task is to explore website traffic data by navigating the adamantine shores of Google (Web) Analytics.</h6>
	<br>
	<h6>If you come along on my journey, we will explore the most alluring of exotic and never-seen-before data.  All you need is a Google Analytics account and an adventurous mindset.</h6>
	<br>
	<h6>When you are ready, <a href="/redirect_google_analytics/">click here</a> to log in with Google Analytics, so that you can have access to your data.</h6>
		
	<h6>If you are having trouble with this process, try to 'Choose another account' instead of selecting one from the list.  The krakens of the sea always like a fresh mackerel.</h6>
	<br>
	<h6>Through our travels, you can download any complex slice of Google Analytics data.</h6>
	<br>
	<h6>For advanced users, I will hand you your own ship in the form of Python code for future repeated Google Analytics API (GAPI) data pulls.</h6>
	<br>
	<h6>Boa Viagem!</h6>
</div>
{% endblock %}
{% block contentright %}
<image src="/site_media/images/vasco_de_gama.jpg" />
{% endblock %}